#body
{
	width:100%;
	background-color:#E5E4E2;
}

header div
{
    width: 15%;
    margin: 0 auto;
}
header div div
{
	float: left;
    margin: 0 auto;
    width: 33.3333333%;
    text-align: center;
}

#tasks
{
	width:98%;
	height:80%;
	
}
#left-panel
{
	width:10%;
	float:left;
	/*border: 2px solid black;*/
	background-color: #6a8289;
	height:90%;
	
}
#tasks-content
{
	width:88%;
	float:right;
	/*border: 2px solid black;*/
	height:90%;
	overflow: visible;
	overflow-y :scroll;
	background-color: #6a8289;
}
#tasks-content div
{
	margin-left:3px;
}
.clear-box
{
	clear:both;
	overflow: hidden;
}
#test
{
	position: absolute;
	right:0;
	bottom:0;
	
}
#finished
{
	float:right;
}
.inner-buttons
{
	float:right;
	margin-left:4px;
}
.modal-body input 
{
	padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}
.modal-body textarea 
{
	padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
