<html ng-app="app">
	<title>WEB-Final-Project</title>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/style.css" charset="UTF-8"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8"/>
		<link rel="stylesheet" href="css/angular-moment-picker.min.css" charset="UTF-8"/>

	</head>
	
	
	<body id="body">
		<header>
			<div>
				<button class="btn btn-link btn-lg">
					<a href="#">tasks</a>
				</button>
				<button class="btn btn-link btn-lg">
					<a href="#Notes">Notes</a>
				</button>
			</div>
		</header>
		
		
		<div id="tasks" ng-controller="tasks">
			<a href="#doneTasks">Done Tasks</a>
			<div ng-view></div>
				<div class="clear-box"></div>
			<div id="left-panel" class="well well-lg">
				<div>
					category 1
				</div>
				<div>
					category 2
				</div>
				<div>
					category 3
				</div>
				<div>
					category 4
				</div>
				<div>
					category 5
				</div>
			</div>
			<button type="button" class="btn btn-primary btn-md "  id="test" data-toggle="modal" data-target="#add-task" >
					Add task
				</button>
			<div id="tasks-content" style="position: relative;" class="well well-lg">
				
				
		<!-- adding a task -->
				<div id="add-task" class="modal fade" role="dialog">
					<div style="margin: 10px auto" class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									&times;
								</button>
								<h2 class="modal-title">New task</h2>
							
							</div>
							<form>
							<div class="modal-body">
								
								<br>
								<br>
								<input ng-model="taskdate" type="datetime-local"/>
								
								<br>
								<br>
								<textarea ng-model="taskContent" rows="4" cols="50"></textarea>
								<br>
								<hr>
								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getTask()">
									Save
								</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- show active task-->
				<div id="current-tasks" class="card" ng-repeat="task in Tasks track by $index">
					<div >
						<div class="panel panel-info" >
						<div class="panel-heading">
							<div><input type="datetime-local" ng-model='task.date' ng-show="showEdit"/></div>
							<div ng-show="!showEdit">{{task.date|date:'medium'}}</div>
							</div>
						
						<div class="panel-body">
						<div><textarea rows="4" cols="50" ng-model='task.content' ng-show="showEdit"></textarea> </div>
						<div ng-show="!showEdit">task: {{task.content}}</div>
						<br>
						<button class="btn btn-success btn-xs inner-buttons glyphicon glyphicon-ok" type="button" ng-click="doneTask(task)"></button>
						<button class="btn btn-danger btn-xs inner-buttons glyphicon glyphicon-remove" type="button" ng-click="removeTask(task)"></button>
						<button class="btn btn-info btn-xs inner-buttons glyphicon glyphicon-pencil" ng-click="showEdit=!showEdit" ng-show="!showEdit"></button>
						<button class="btn btn-info btn-xs inner-buttons" class="inner-buttons" ng-click="showEdit=!showEdit" ng-show="showEdit">Save</button>
						
						</div>
					</div>
					
					<!--events api-->
					<div id="events-api"></div>

				</div>
			</div>
				<!--
				<div ng-controller="notes"></div>-->
<!-- scripts -->
				<script src="node_modules/angular/angular.js"></script>
				<script src="node_modules/angular-route/angular-route.js"></script>
				<script src="app/config.js"></script>
				<script src="app/controllers/tasks.js"></script>
				<script src="app/controllers/doneTasks.js"></script>
				<script src="app/controllers/notes.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				<script src="js/bootstrap.min.js"></script>

	</body>
</html>